# macOS
.DS_Store
._*

# Редакторы
.vscode/
.idea/
*.swp

# Временные файлы нарезки аудио
*.wav

# Локальные переменные окружения
.env

# Playwright
node_modules/
test-results/
playwright-report/
blob-report/
